.hs_cos_wrapper_type_blog_subscribe,
.hs_cos_wrapper_type_form,
.hs_cos_wrapper_type_blog_comments {
  h3 {
    margin: auto;
  }

  form {
    margin: auto;

    textarea,
    input[type="text"],
    input[type="password"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="date"],
    input[type="month"],
    input[type="time"],
    input[type="week"],
    input[type="number"],
    input[type="email"],
    input[type="url"],
    input[type="search"],
    input[type="tel"],
    input[type="color"],
    textarea {
      display: inline-block;
      font-size: inherit;
      line-height: inherit;
      margin-top: 0;
      margin-bottom: 0;
      width: 100%;
      padding: 10px;
      box-sizing: border-box;
      border-radius: 0;
      outline: none;
      -webkit-appearance: none;
    }

    .bfi-container {
      border-color: #131313;

      &.bfi-container-active,
      &.hovering {
        border-color: #000000;
      }
    }

    textarea {
      display: block;
      float: left;
      resize: vertical !important;
      overflow: hidden;
    }

    input::-webkit-input-placeholder {
      color: rgba(#000000, 0.5);
    }

    input::-moz-placeholder {
      color: rgba(#000000, 0.5);
      opacity: 1;
    }

    input:-ms-input-placeholder {
      color: rgba(#000000, 0.5);
    }

    input:-moz-placeholder {
      color: rgba(#000000, 0.5);
      opacity: 1;
    }

    textarea::-webkit-input-placeholder {
      color: rgba(#000000, 0.5);
    }

    textarea::-moz-placeholder {
      color: hgba(#000000, 0.5);
      opacity: 1;
    }

    textarea:-ms-input-placeholder {
      color: rgba(#000000, 0.5);
    }

    textarea:-moz-placeholder {
      color: rgba(#000000, 0.5);
      opacity: 1;
    }

    .hs-fieldtype-select .input,
    .hs-fieldtype-intl-phone {
      position: relative;
      display: inline-block;
      width: 100%;
    }

    .hs-fieldtype-intl-phone {
      select,
      input[type="tel"] {
        width: 100% !important;
      }

      select {
        padding-right: 22px;
        margin-bottom: 10px !important;
      }

      @media (min-width: 768px) {
        select {
          width: calc(40% - 20px) !important;
          margin-bottom: 0 !important;
        }

        input[type="tel"] {
          width: 60% !important;
        }
      }
    }

    ul {
      margin-top: 4px;
      margin-bottom: 10px;

      li {
        position: relative;
      }
    }

    .inputs-list {
      list-style: none;
      padding-left: 30px;

      .hs-form-checkbox,
      .hs-form-radio {
        margin-bottom: 10px;

        &:first-of-type {
          margin-top: 16px;
        }
      }
    }

    input[type="checkbox"] {
      position: absolute;
      left: -30px;
      z-index: 1;
      opacity: 0;
      cursor: pointer;

      + span {
        cursor: pointer;
        opacity: 0.5;
        transition: all 0.3s ease;

        &:before {
          position: absolute;
          display: block;
          content: "";
          width: 16px;
          height: 16px;
          border: 1px solid #000000;
          left: -30px;
          top: 3px;
          border-radius: 2px;
          transition: all 0.1s ease-out;
        }

        &:after {
          display: block;
          content: "";
          width: 16px;
          height: 16px;
          position: absolute;
          background-image: url(https://cdn2.hubspot.net/hubfs/7118605/Icons/wondrous-checkbox-white.svg);
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          left: -30px;
          top: 3px;
          z-index: 1;
          opacity: 0;
          transition: all 0.1s ease-out;
        }
      }

      &:hover {
        + span {
          opacity: 1;
        }
      }
    }

    input[type="checkbox"]:checked {
      + span {
        opacity: 1;
        &:before {
          border-color: #000000;
        }

        &:after {
          opacity: 1;
        }
      }
    }

    input[type="radio"] {
      position: absolute;
      z-index: 1;
      opacity: 0;
      cursor: pointer;

      + span {
        opacity: 0.5;
        cursor: pointer;
        transition: all 0.3s ease;

        &:before {
          display: inline-block;
          content: "";
          width: 16px;
          height: 16px;
          border: 1px solid #000000;
          border-radius: 50%;
          position: absolute;
          top: 3px;
          left: -30px;
          vertical-align: middle;
          transition: all 0.1s ease-out;
        }

        &:after {
          display: block;
          content: "";
          width: 16px;
          height: 16px;
          background-color: #000000;
          transform: scale(0.5);
          border-radius: 50%;
          position: absolute;
          left: -30px;
          top: 3px;
          z-index: 1;
          opacity: 0;
          transition: all 0.1s ease-out;
        }
      }

      &:hover {
        + span {
          opacity: 1;
        }
      }
    }

    input[type="radio"]:checked {
      + span {
        opacity: 1;
        &:before {
          border-color: #000000;
        }

        &:after {
          opacity: 1;
        }
      }
    }

    .actions {
      display: inline-block;
      position: relative;
      margin-top: 10px;
      width: 100%;
    }

    input[type="submit"] {
      -webkit-appearance: none;
      @include cta;
      cursor: pointer;
    }

    .hs-form-required {
      // display: none;
    }

    .hs-form-field {
      text-align: left;
      margin-bottom: 20px;
      width: 100%;
      float: left !important;

      > label {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }

    .hs-input {
      width: 100%;

      @media (max-width: 480px) {
        width: 100% !important;
      }
    }

    label {
      text-align: left;
    }

    .hs-error-msgs {
      font-size: 12px;
      opacity: 0.5;
      text-align: left;
      list-style: none;
      padding: 0;
      color: #ff5d5d;
      transition: 0.3s ease;
      margin-bottom: 0;

      a {
        word-break: break-all;
      }
    }

    fieldset {
      min-width: 0;
      padding: 0;
      margin: 0;
      border: 0;
      max-width: none;
      width: 100%;

      .hs-form-field {
        &:last-of-type {
          margin-right: 0;
        }

        .hs-input {
          width: 100%;
        }

        .input {
          margin-right: 0;
        }
      }

      &.form-columns-2 {
        .hs-form-field {
          width: 100%;

          @media (min-width: 768px) {
            max-width: calc(50% - 20px);
            margin-right: 40px;

            &:last-of-type {
              margin-right: 0;
            }
          }
        }
      }

      &.form-columns-3 {
        .hs-form-field {
          width: 100%;

          @media (min-width: 768px) {
            max-width: calc(33.33% - 26.66px);
            margin-right: 40px;

            &:last-of-type {
              margin-right: 0;
            }
          }
        }
      }
    }

    .hs-recaptcha {
      margin-top: 20px;
    }

    .legal-consent-container {
      font-size: 12px;
      text-align: left;
      margin-top: 0;
      margin-bottom: 10px;

      p {
        margin-bottom: 4px;
      }

      .hs-form-booleancheckbox-display {
        > span {
          display: inline-block;
          margin-left: 0;
        }
      }

      .inputs-list {
        padding-left: 22px;
      }

      input[type="checkbox"] {
        & + span {
          &:before {
            width: 12px;
            height: 12px;
            left: -22px;
            top: 2px;
          }

          &:after {
            width: 12px;
            height: 12px;
            left: -22px;
            top: 2px;
          }
        }
      }

      .hs-error-msgs {
        margin-top: -8px;
        margin-bottom: 10px;
        font-size: inherit;

        label {
          color: #ff5d5d;
        }
      }
    }
  }

  .submitted-message { }
}