html {
  font-size: #{$globalFontSize}px;
}

body {
  font-family: $font;
  font-weight: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: rem(20);
  font-weight: bold;

  a {
    color: inherit;
  }
}

h1,
.h1 {
    font-size: rem($h1FontSize);
}

p {
  margin-top: 0;
  margin-bottom: rem(20);
}

ul,
ol {
  margin-top: 0;
  margin-bottom: rem(20);
}

ul {
  list-style: none;
}

a {

  &:not([href]) {
    color: inherit;
    text-decoration: none;
  }
}

.hs_cos_wrapper_type_rich_text,
.hs_cos_wrapper_type_inline_rich_text {
  display: block;
}