@-ms-viewport {
  width: device-width;
}

.body-container.container-fluid {
  padding-right: 0;
  padding-left: 0;

  > .row-fluid-wrapper {
    margin-left: 0;
    margin-right: 0;
  }
}

.container {
    max-width: 1200px;
}

.container,
[class*="span"].container,
[class*="span"].container-fluid,
.container [class*="span"].container-fluid {
  display: block;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto !important;
  margin-left: auto !important;
  min-height: 1px;
  box-sizing: border-box;
  float: none !important;

  &:before,
  &:after {
    display: table;
    content: "";
  }

  &:after {
    clear: both;
  }

  .row-fluid-wrapper,
  .row {
    margin-right: -20px;
    margin-left: -20px;
  }

  .row-fluid {
    width: 100%;
    margin: 0;
  }

  .row-fluid,
  .row {
    display: flex;
    flex-wrap: wrap;

    &:before,
    &:after {
      display: table;
      content: normal;
    }

    &:after {
      clear: both;
    }

    [class*="span"] {
      display: block;
      float: left;
      width: 100%;
      min-height: 1px;
      margin-left: 0;
      margin-right: 0;
      box-sizing: border-box;
      // position: relative;
      padding-right: 0;
      padding-left: 0;
      flex-grow: 1;

      @media (max-width: 767px) {
        display: block;
        float: none;
        margin-left: 0;
        flex: 0 0 100%;
        max-width: 100%;
      }
    }

    .span1,
    .span2,
    .span3,
    .span4,
    .span5,
    .span6,
    .span7,
    .span8,
    .span9,
    .span10,
    .span11,
    .span12,
    .col-1,
    .col-2,
    .col-3,
    .col-4,
    .col-5,
    .col-6,
    .col-7,
    .col-8,
    .col-9,
    .col-10,
    .col-11,
    .col-12,
    .col,
    .col-auto,
    .col-sm-1,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12,
    .col-sm,
    .col-sm-auto,
    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-md,
    .col-md-auto,
    .col-lg-1,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12,
    .col-lg,
    .col-lg-auto,
    .col-xl-1,
    .col-xl-2,
    .col-xl-3,
    .col-xl-4,
    .col-xl-5,
    .col-xl-6,
    .col-xl-7,
    .col-xl-8,
    .col-xl-9,
    .col-xl-10,
    .col-xl-11,
    .col-xl-12,
    .col-xl,
    .col-xl-auto {
      // position: relative;
      width: 100%;
      min-height: 1px;
      padding-right: 20px;
      padding-left: 20px;
    }

    .span1 {
      flex: 0 0 8.333333%;
      max-width: 8.333333%;
    }
    .span2 {
      flex: 0 0 16.666667%;
      max-width: 16.666667%;
    }
    .span3 {
      flex: 0 0 25%;
      max-width: 25%;
    }
    .span4 {
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
    }
    .span5 {
      flex: 0 0 41.666667%;
      max-width: 41.666667%;
    }
    .span6 {
      flex: 0 0 50%;
      max-width: 50%;
    }
    .span7 {
      flex: 0 0 58.333333%;
      max-width: 58.333333%;
    }
    .span8 {
      flex: 0 0 66.666667%;
      max-width: 66.666667%;
    }
    .span9 {
      flex: 0 0 75%;
      max-width: 75%;
    }
    .span10 {
      flex: 0 0 83.333333%;
      max-width: 83.333333%;
    }
    .span11 {
      flex: 0 0 91.666667%;
      max-width: 91.666667%;
    }
    .span12 {
      flex: 0 0 100%;
      max-width: 100%;
    }

    .span1,
    .span2,
    .span3,
    .span4,
    .span5,
    .span6,
    .span7,
    .span8,
    .span9,
    .span10,
    .span11,
    .span12 {
      @media (max-width: 767px) {
        width: 100%;
        flex: 0 0 100%;
        max-width: 100%;
      }
    }

    .col {
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;
    }

    .col-auto {
      flex: 0 0 auto;
      width: auto;
      max-width: none;
    }

    .col-1 {
      flex: 0 0 8.333333%;
      max-width: 8.333333%;
    }
    .col-2 {
      flex: 0 0 16.666667%;
      max-width: 16.666667%;
    }
    .col-3 {
      flex: 0 0 25%;
      max-width: 25%;
    }
    .col-4 {
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
    }
    .col-5 {
      flex: 0 0 41.666667%;
      max-width: 41.666667%;
    }
    .col-6 {
      flex: 0 0 50%;
      max-width: 50%;
    }
    .col-7 {
      flex: 0 0 58.333333%;
      max-width: 58.333333%;
    }
    .col-8 {
      flex: 0 0 66.666667%;
      max-width: 66.666667%;
    }
    .col-9 {
      flex: 0 0 75%;
      max-width: 75%;
    }
    .col-10 {
      flex: 0 0 83.333333%;
      max-width: 83.333333%;
    }
    .col-11 {
      flex: 0 0 91.666667%;
      max-width: 91.666667%;
    }
    .col-12 {
      flex: 0 0 100%;
      max-width: 100%;
    }

    .order-first {
      order: -1;
    }

    .order-last {
      order: 13;
    }

    .order-0 {
      order: 0;
    }

    .order-1 {
      order: 1;
    }

    .order-2 {
      order: 2;
    }

    .order-3 {
      order: 3;
    }

    .order-4 {
      order: 4;
    }

    .order-5 {
      order: 5;
    }

    .order-6 {
      order: 6;
    }

    .order-7 {
      order: 7;
    }

    .order-8 {
      order: 8;
    }

    .order-9 {
      order: 9;
    }

    .order-10 {
      order: 10;
    }

    .order-11 {
      order: 11;
    }

    .order-12 {
      order: 12;
    }

    .offset-1 {
      margin-left: 8.333333%;
    }

    .offset-2 {
      margin-left: 16.666667%;
    }

    .offset-3 {
      margin-left: 25%;
    }

    .offset-4 {
      margin-left: 33.333333%;
    }

    .offset-5 {
      margin-left: 41.666667%;
    }

    .offset-6 {
      margin-left: 50%;
    }

    .offset-7 {
      margin-left: 58.333333%;
    }

    .offset-8 {
      margin-left: 66.666667%;
    }

    .offset-9 {
      margin-left: 75%;
    }

    .offset-10 {
      margin-left: 83.333333%;
    }

    .offset-11 {
      margin-left: 91.666667%;
    }

    @media (min-width: 576px) {
      .col-sm {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
      }
      .col-sm-auto {
        flex: 0 0 auto;
        width: auto;
        max-width: none;
      }
      .col-sm-1 {
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
      }
      .col-sm-2 {
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
      }
      .col-sm-3 {
        flex: 0 0 25%;
        max-width: 25%;
      }
      .col-sm-4 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
      }
      .col-sm-5 {
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
      }
      .col-sm-6 {
        flex: 0 0 50%;
        max-width: 50%;
      }
      .col-sm-7 {
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
      }
      .col-sm-8 {
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
      }
      .col-sm-9 {
        flex: 0 0 75%;
        max-width: 75%;
      }
      .col-sm-10 {
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
      }
      .col-sm-11 {
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
      }
      .col-sm-12 {
        flex: 0 0 100%;
        max-width: 100%;
      }

      .order-sm-first {
        order: -1;
      }
      .order-sm-last {
        order: 13;
      }
      .order-sm-0 {
        order: 0;
      }
      .order-sm-1 {
        order: 1;
      }
      .order-sm-2 {
        order: 2;
      }
      .order-sm-3 {
        order: 3;
      }
      .order-sm-4 {
        order: 4;
      }
      .order-sm-5 {
        order: 5;
      }
      .order-sm-6 {
        order: 6;
      }
      .order-sm-7 {
        order: 7;
      }
      .order-sm-8 {
        order: 8;
      }
      .order-sm-9 {
        order: 9;
      }
      .order-sm-10 {
        order: 10;
      }
      .order-sm-11 {
        order: 11;
      }
      .order-sm-12 {
        order: 12;
      }
      .offset-sm-0 {
        margin-left: 0;
      }
      .offset-sm-1 {
        margin-left: 8.333333%;
      }
      .offset-sm-2 {
        margin-left: 16.666667%;
      }
      .offset-sm-3 {
        margin-left: 25%;
      }
      .offset-sm-4 {
        margin-left: 33.333333%;
      }
      .offset-sm-5 {
        margin-left: 41.666667%;
      }
      .offset-sm-6 {
        margin-left: 50%;
      }
      .offset-sm-7 {
        margin-left: 58.333333%;
      }
      .offset-sm-8 {
        margin-left: 66.666667%;
      }
      .offset-sm-9 {
        margin-left: 75%;
      }
      .offset-sm-10 {
        margin-left: 83.333333%;
      }
      .offset-sm-11 {
        margin-left: 91.666667%;
      }
    }

    @media (min-width: 768px) {
      .col-md {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
      }
      .col-md-auto {
        flex: 0 0 auto;
        width: auto;
        max-width: none;
      }
      .col-md-1 {
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
      }
      .col-md-2 {
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
      }
      .col-md-3 {
        flex: 0 0 25%;
        max-width: 25%;
      }
      .col-md-4 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
      }
      .col-md-5 {
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
      }
      .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
      }
      .col-md-7 {
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
      }
      .col-md-8 {
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
      }
      .col-md-9 {
        flex: 0 0 75%;
        max-width: 75%;
      }
      .col-md-10 {
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
      }
      .col-md-11 {
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
      }
      .col-md-12 {
        flex: 0 0 100%;
        max-width: 100%;
      }
      .order-md-first {
        order: -1;
      }
      .order-md-last {
        order: 13;
      }
      .order-md-0 {
        order: 0;
      }
      .order-md-1 {
        order: 1;
      }
      .order-md-2 {
        order: 2;
      }
      .order-md-3 {
        order: 3;
      }
      .order-md-4 {
        order: 4;
      }
      .order-md-5 {
        order: 5;
      }
      .order-md-6 {
        order: 6;
      }
      .order-md-7 {
        order: 7;
      }
      .order-md-8 {
        order: 8;
      }
      .order-md-9 {
        order: 9;
      }
      .order-md-10 {
        order: 10;
      }
      .order-md-11 {
        order: 11;
      }
      .order-md-12 {
        order: 12;
      }
      .offset-md-0 {
        margin-left: 0;
      }
      .offset-md-1 {
        margin-left: 8.333333%;
      }
      .offset-md-2 {
        margin-left: 16.666667%;
      }
      .offset-md-3 {
        margin-left: 25%;
      }
      .offset-md-4 {
        margin-left: 33.333333%;
      }
      .offset-md-5 {
        margin-left: 41.666667%;
      }
      .offset-md-6 {
        margin-left: 50%;
      }
      .offset-md-7 {
        margin-left: 58.333333%;
      }
      .offset-md-8 {
        margin-left: 66.666667%;
      }
      .offset-md-9 {
        margin-left: 75%;
      }
      .offset-md-10 {
        margin-left: 83.333333%;
      }
      .offset-md-11 {
        margin-left: 91.666667%;
      }
    }

    @media (min-width: 992px) {
      .col-lg {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
      }
      .col-lg-auto {
        flex: 0 0 auto;
        width: auto;
        max-width: none;
      }
      .col-lg-1 {
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
      }
      .col-lg-2 {
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
      }
      .col-lg-3 {
        flex: 0 0 25%;
        max-width: 25%;
      }
      .col-lg-4 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
      }
      .col-lg-5 {
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
      }
      .col-lg-6 {
        flex: 0 0 50%;
        max-width: 50%;
      }
      .col-lg-7 {
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
      }
      .col-lg-8 {
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
      }
      .col-lg-9 {
        flex: 0 0 75%;
        max-width: 75%;
      }
      .col-lg-10 {
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
      }
      .col-lg-11 {
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
      }
      .col-lg-12 {
        flex: 0 0 100%;
        max-width: 100%;
      }
      .order-lg-first {
        order: -1;
      }
      .order-lg-last {
        order: 13;
      }
      .order-lg-0 {
        order: 0;
      }
      .order-lg-1 {
        order: 1;
      }
      .order-lg-2 {
        order: 2;
      }
      .order-lg-3 {
        order: 3;
      }
      .order-lg-4 {
        order: 4;
      }
      .order-lg-5 {
        order: 5;
      }
      .order-lg-6 {
        order: 6;
      }
      .order-lg-7 {
        order: 7;
      }
      .order-lg-8 {
        order: 8;
      }
      .order-lg-9 {
        order: 9;
      }
      .order-lg-10 {
        order: 10;
      }
      .order-lg-11 {
        order: 11;
      }
      .order-lg-12 {
        order: 12;
      }
      .offset-lg-0 {
        margin-left: 0;
      }
      .offset-lg-1 {
        margin-left: 8.333333%;
      }
      .offset-lg-2 {
        margin-left: 16.666667%;
      }
      .offset-lg-3 {
        margin-left: 25%;
      }
      .offset-lg-4 {
        margin-left: 33.333333%;
      }
      .offset-lg-5 {
        margin-left: 41.666667%;
      }
      .offset-lg-6 {
        margin-left: 50%;
      }
      .offset-lg-7 {
        margin-left: 58.333333%;
      }
      .offset-lg-8 {
        margin-left: 66.666667%;
      }
      .offset-lg-9 {
        margin-left: 75%;
      }
      .offset-lg-10 {
        margin-left: 83.333333%;
      }
      .offset-lg-11 {
        margin-left: 91.666667%;
      }
    }

    @media (min-width: 1200px) {
      .col-xl {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
      }
      .col-xl-auto {
        flex: 0 0 auto;
        width: auto;
        max-width: none;
      }
      .col-xl-1 {
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
      }
      .col-xl-2 {
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
      }
      .col-xl-3 {
        flex: 0 0 25%;
        max-width: 25%;
      }
      .col-xl-4 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
      }
      .col-xl-5 {
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
      }
      .col-xl-6 {
        flex: 0 0 50%;
        max-width: 50%;
      }
      .col-xl-7 {
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
      }
      .col-xl-8 {
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
      }
      .col-xl-9 {
        flex: 0 0 75%;
        max-width: 75%;
      }
      .col-xl-10 {
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
      }
      .col-xl-11 {
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
      }
      .col-xl-12 {
        flex: 0 0 100%;
        max-width: 100%;
      }
      .order-xl-first {
        order: -1;
      }
      .order-xl-last {
        order: 13;
      }
      .order-xl-0 {
        order: 0;
      }
      .order-xl-1 {
        order: 1;
      }
      .order-xl-2 {
        order: 2;
      }
      .order-xl-3 {
        order: 3;
      }
      .order-xl-4 {
        order: 4;
      }
      .order-xl-5 {
        order: 5;
      }
      .order-xl-6 {
        order: 6;
      }
      .order-xl-7 {
        order: 7;
      }
      .order-xl-8 {
        order: 8;
      }
      .order-xl-9 {
        order: 9;
      }
      .order-xl-10 {
        order: 10;
      }
      .order-xl-11 {
        order: 11;
      }
      .order-xl-12 {
        order: 12;
      }
      .offset-xl-0 {
        margin-left: 0;
      }
      .offset-xl-1 {
        margin-left: 8.333333%;
      }
      .offset-xl-2 {
        margin-left: 16.666667%;
      }
      .offset-xl-3 {
        margin-left: 25%;
      }
      .offset-xl-4 {
        margin-left: 33.333333%;
      }
      .offset-xl-5 {
        margin-left: 41.666667%;
      }
      .offset-xl-6 {
        margin-left: 50%;
      }
      .offset-xl-7 {
        margin-left: 58.333333%;
      }
      .offset-xl-8 {
        margin-left: 66.666667%;
      }
      .offset-xl-9 {
        margin-left: 75%;
      }
      .offset-xl-10 {
        margin-left: 83.333333%;
      }
      .offset-xl-11 {
        margin-left: 91.666667%;
      }
    }
  }

  /* Flex HS flexible column */
  &.widget-type-widget_container,
  .widget-type-widget_container {
    padding-left: 20px;
    padding-right: 20px;

    > span {
      width: auto;
      min-width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-left: -20px;
      margin-right: -20px;

      &:before,
      &:after {
        display: table;
        content: normal;
      }

      &:after {
        clear: both;
      }

      > div {
        display: block;
        float: none;
        width: 100%;
        margin-left: 0;
        flex: 0 0 100%;
        max-width: 100%;
        padding-left: 20px;
        padding-right: 20px;
      }
    }

    &.flex-nowrap {
      > span {
        flex-wrap: nowrap;
      }
    }

    &.flex-col {
      > span {
        > div {
          flex-basis: 0;
          flex-grow: 1;
          max-width: 100%;
        }
      }
    }

    &.flex-col-auto {
      > span {
        > div {
          flex: 0 0 auto;
          width: auto;
          max-width: none;
        }
      }
    }

    &.flex-col-1 {
      > span {
        > div {
          flex: 0 0 8.333333%;
          max-width: 8.333333%;
        }
      }
    }
    &.flex-col-2 {
      > span {
        > div {
          flex: 0 0 16.666667%;
          max-width: 16.666667%;
        }
      }
    }
    &.flex-col-3 {
      > span {
        > div {
          flex: 0 0 25%;
          max-width: 25%;
        }
      }
    }
    &.flex-col-4 {
      > span {
        > div {
          flex: 0 0 33.333333%;
          max-width: 33.333333%;
        }
      }
    }
    &.flex-col-5 {
      > span {
        > div {
          flex: 0 0 41.666667%;
          max-width: 41.666667%;
        }
      }
    }
    &.flex-col-6 {
      > span {
        > div {
          flex: 0 0 50%;
          max-width: 50%;
        }
      }
    }
    &.flex-col-7 {
      > span {
        > div {
          flex: 0 0 58.333333%;
          max-width: 58.333333%;
        }
      }
    }
    &.flex-col-8 {
      > span {
        > div {
          flex: 0 0 66.666667%;
          max-width: 66.666667%;
        }
      }
    }
    &.flex-col-9 {
      > span {
        > div {
          flex: 0 0 75%;
          max-width: 75%;
        }
      }
    }
    &.flex-col-10 {
      > span {
        > div {
          flex: 0 0 83.333333%;
          max-width: 83.333333%;
        }
      }
    }
    &.flex-col-11 {
      > span {
        > div {
          flex: 0 0 91.666667%;
          max-width: 91.666667%;
        }
      }
    }
    &.flex-col-12 {
      > span {
        > div {
          flex: 0 0 100%;
          max-width: 100%;
        }
      }
    }

    @media (max-width: 767px) {
      &.flex-col-1,
      &.flex-col-2,
      &.flex-col-3,
      &.flex-col-4,
      &.flex-col-5,
      &.flex-col-6,
      &.flex-col-7,
      &.flex-col-8,
      &.flex-col-9,
      &.flex-col-10,
      &.flex-col-11,
      &.flex-col-12 {
        > span {
          > div {
            flex: 0 0 100%;
            max-width: 100%;
          }
        }
      }
    }

    @media (min-width: 576px) {
      &.flex-sm-nowrap {
        > span {
          flex-wrap: nowrap;
        }
      }

      &.flex-col-sm {
        > span {
          > div {
            flex-basis: 0;
            flex-grow: 1;
            max-width: 100%;
          }
        }
      }

      &.flex-col-sm-auto {
        > span {
          > div {
            flex: auto;
            width: auto;
            max-width: none;
          }
        }
      }

      &.flex-col-sm-1 {
        > span {
          > div {
            flex: 0 0 8.333333%;
            max-width: 8.333333%;
          }
        }
      }
      &.flex-col-sm-2 {
        > span {
          > div {
            flex: 0 0 16.666667%;
            max-width: 16.666667%;
          }
        }
      }
      &.flex-col-sm-3 {
        > span {
          > div {
            flex: 0 0 25%;
            max-width: 25%;
          }
        }
      }
      &.flex-col-sm-4 {
        > span {
          > div {
            flex: 0 0 33.333333%;
            max-width: 33.333333%;
          }
        }
      }
      &.flex-col-sm-5 {
        > span {
          > div {
            flex: 0 0 41.666667%;
            max-width: 41.666667%;
          }
        }
      }
      &.flex-col-sm-6 {
        > span {
          > div {
            flex: 0 0 50%;
            max-width: 50%;
          }
        }
      }
      &.flex-col-sm-7 {
        > span {
          > div {
            flex: 0 0 58.333333%;
            max-width: 58.333333%;
          }
        }
      }
      &.flex-col-sm-8 {
        > span {
          > div {
            flex: 0 0 66.666667%;
            max-width: 66.666667%;
          }
        }
      }
      &.flex-col-sm-9 {
        > span {
          > div {
            flex: 0 0 75%;
            max-width: 75%;
          }
        }
      }
      &.flex-col-sm-10 {
        > span {
          > div {
            flex: 0 0 83.333333%;
            max-width: 83.333333%;
          }
        }
      }
      &.flex-col-sm-11 {
        > span {
          > div {
            flex: 0 0 91.666667%;
            max-width: 91.666667%;
          }
        }
      }
      &.flex-col-sm-12 {
        > span {
          > div {
            flex: 0 0 100%;
            max-width: 100%;
          }
        }
      }
    }

    @media (min-width: 768px) {
      &.flex-md-nowrap {
        > span {
          flex-wrap: nowrap;
        }
      }

      &.flex-col-md {
        > span {
          > div {
            flex-basis: 0;
            flex-grow: 1;
            max-width: 100%;
          }
        }
      }

      &.flex-col-md-auto {
        > span {
          > div {
            flex: auto;
            width: auto;
            max-width: none;
          }
        }
      }

      &.flex-col-md-1 {
        > span {
          > div {
            flex: 0 0 8.333333%;
            max-width: 8.333333%;
          }
        }
      }
      &.flex-col-md-2 {
        > span {
          > div {
            flex: 0 0 16.666667%;
            max-width: 16.666667%;
          }
        }
      }
      &.flex-col-md-3 {
        > span {
          > div {
            flex: 0 0 25%;
            max-width: 25%;
          }
        }
      }
      &.flex-col-md-4 {
        > span {
          > div {
            flex: 0 0 33.333333%;
            max-width: 33.333333%;
          }
        }
      }
      &.flex-col-md-5 {
        > span {
          > div {
            flex: 0 0 41.666667%;
            max-width: 41.666667%;
          }
        }
      }
      &.flex-col-md-6 {
        > span {
          > div {
            flex: 0 0 50%;
            max-width: 50%;
          }
        }
      }
      &.flex-col-md-7 {
        > span {
          > div {
            flex: 0 0 58.333333%;
            max-width: 58.333333%;
          }
        }
      }
      &.flex-col-md-8 {
        > span {
          > div {
            flex: 0 0 66.666667%;
            max-width: 66.666667%;
          }
        }
      }
      &.flex-col-md-9 {
        > span {
          > div {
            flex: 0 0 75%;
            max-width: 75%;
          }
        }
      }
      &.flex-col-md-10 {
        > span {
          > div {
            flex: 0 0 83.333333%;
            max-width: 83.333333%;
          }
        }
      }
      &.flex-col-md-11 {
        > span {
          > div {
            flex: 0 0 91.666667%;
            max-width: 91.666667%;
          }
        }
      }
      &.flex-col-md-12 {
        > span {
          > div {
            flex: 0 0 100%;
            max-width: 100%;
          }
        }
      }
    }

    @media (min-width: 992px) {
      &.flex-lg-nowrap {
        > span {
          flex-wrap: nowrap;
        }
      }

      &.flex-col-lg {
        > span {
          > div {
            flex-basis: 0;
            flex-grow: 1;
            max-width: 100%;
          }
        }
      }

      &.flex-col-lg-auto {
        > span {
          > div {
            flex: auto;
            width: auto;
            max-width: none;
          }
        }
      }

      &.flex-col-lg-1 {
        > span {
          > div {
            flex: 0 0 8.333333%;
            max-width: 8.333333%;
          }
        }
      }
      &.flex-col-lg-2 {
        > span {
          > div {
            flex: 0 0 16.666667%;
            max-width: 16.666667%;
          }
        }
      }
      &.flex-col-lg-3 {
        > span {
          > div {
            flex: 0 0 25%;
            max-width: 25%;
          }
        }
      }
      &.flex-col-lg-4 {
        > span {
          > div {
            flex: 0 0 33.333333%;
            max-width: 33.333333%;
          }
        }
      }
      &.flex-col-lg-5 {
        > span {
          > div {
            flex: 0 0 41.666667%;
            max-width: 41.666667%;
          }
        }
      }
      &.flex-col-lg-6 {
        > span {
          > div {
            flex: 0 0 50%;
            max-width: 50%;
          }
        }
      }
      &.flex-col-lg-7 {
        > span {
          > div {
            flex: 0 0 58.333333%;
            max-width: 58.333333%;
          }
        }
      }
      &.flex-col-lg-8 {
        > span {
          > div {
            flex: 0 0 66.666667%;
            max-width: 66.666667%;
          }
        }
      }
      &.flex-col-lg-9 {
        > span {
          > div {
            flex: 0 0 75%;
            max-width: 75%;
          }
        }
      }
      &.flex-col-lg-10 {
        > span {
          > div {
            flex: 0 0 83.333333%;
            max-width: 83.333333%;
          }
        }
      }
      &.flex-col-lg-11 {
        > span {
          > div {
            flex: 0 0 91.666667%;
            max-width: 91.666667%;
          }
        }
      }
      &.flex-col-lg-12 {
        > span {
          > div {
            flex: 0 0 100%;
            max-width: 100%;
          }
        }
      }
    }

    @media (min-width: 1200px) {
      &.flex-xl-nowrap {
        > span {
          flex-wrap: nowrap;
        }
      }

      &.flex-col-xl {
        > span {
          > div {
            flex-basis: 0;
            flex-grow: 1;
            max-width: 100%;
          }
        }
      }

      &.flex-col-xl-auto {
        > span {
          > div {
            flex: auto;
            width: auto;
            max-width: none;
          }
        }
      }

      &.flex-col-xl-1 {
        > span {
          > div {
            flex: 0 0 8.333333%;
            max-width: 8.333333%;
          }
        }
      }
      &.flex-col-xl-2 {
        > span {
          > div {
            flex: 0 0 16.666667%;
            max-width: 16.666667%;
          }
        }
      }
      &.flex-col-xl-3 {
        > span {
          > div {
            flex: 0 0 25%;
            max-width: 25%;
          }
        }
      }
      &.flex-col-xl-4 {
        > span {
          > div {
            flex: 0 0 33.333333%;
            max-width: 33.333333%;
          }
        }
      }
      &.flex-col-xl-5 {
        > span {
          > div {
            flex: 0 0 41.666667%;
            max-width: 41.666667%;
          }
        }
      }
      &.flex-col-xl-6 {
        > span {
          > div {
            flex: 0 0 50%;
            max-width: 50%;
          }
        }
      }
      &.flex-col-xl-7 {
        > span {
          > div {
            flex: 0 0 58.333333%;
            max-width: 58.333333%;
          }
        }
      }
      &.flex-col-xl-8 {
        > span {
          > div {
            flex: 0 0 66.666667%;
            max-width: 66.666667%;
          }
        }
      }
      &.flex-col-xl-9 {
        > span {
          > div {
            flex: 0 0 75%;
            max-width: 75%;
          }
        }
      }
      &.flex-col-xl-10 {
        > span {
          > div {
            flex: 0 0 83.333333%;
            max-width: 83.333333%;
          }
        }
      }
      &.flex-col-xl-11 {
        > span {
          > div {
            flex: 0 0 91.666667%;
            max-width: 91.666667%;
          }
        }
      }
      &.flex-col-xl-12 {
        > span {
          > div {
            flex: 0 0 100%;
            max-width: 100%;
          }
        }
      }
    }
  }
}

/* Bootstrap 4 */
.no-gutters {
  margin-right: 0 !important;
  margin-left: 0 !important;
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.no-gutters > .col,
.no-gutters > [class*="col-"],
.no-gutters > [class*="span"] {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

// no gutters for HS grid
.no-gutters {
  > .row-fluid-wrapper {
    margin-right: 0 !important;
    margin-left: 0 !important;

    > .row-fluid {
      > [class*="span"] {
        padding-right: 0 !important;
        padding-left: 0 !important;
      }
    }
  }
}

.no-gutters-md {
  @media (min-width: 768px) {
    margin-right: 0 !important;
    margin-left: 0 !important;

    > .row-fluid-wrapper {
      margin-right: 0 !important;
      margin-left: 0 !important;

      > .row-fluid {
        > [class*="span"] {
          padding-right: 0 !important;
          padding-left: 0 !important;
        }
      }
    }
  }
}

.flex-col-no-gutters {
  padding-right: 0 !important;
  padding-left: 0 !important;

  > .hs_cos_wrapper_type_widget_container {
    margin-right: 0 !important;
    margin-left: 0 !important;

    > .hs_cos_wrapper_type_module {
      padding-right: 0 !important;
      padding-left: 0 !important;
    }
  }
}

.flex-col-no-gutters-md {
  @media (min-width: 768px) {
    padding-right: 0 !important;
    padding-left: 0 !important;

    > .hs_cos_wrapper_type_widget_container {
      margin-right: 0 !important;
      margin-left: 0 !important;

      > .hs_cos_wrapper_type_module {
        padding-right: 0 !important;
        padding-left: 0 !important;
      }
    }
  }
}

.flex-col-no-gutters-lg {
  @media (min-width: 1200px) {
    padding-right: 0 !important;
    padding-left: 0 !important;

    > .hs_cos_wrapper_type_widget_container {
      margin-right: 0 !important;
      margin-left: 0 !important;

      > .hs_cos_wrapper_type_module {
        padding-right: 0 !important;
        padding-left: 0 !important;
      }
    }
  }
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse !important;

  > .row-fluid-wrapper {
    > .row-fluid {
      flex-wrap: wrap-reverse !important;
    }
  }
  &.widget-type-widget_container {
    > span {
      flex-wrap: wrap-reverse !important;
    }
  }
}

.flex-direction-column {
  display: flex !important;
  flex-direction: column;
  > .row-fluid-wrapper {
    > .row-fluid {
      display: flex !important;
      flex-direction: column;
    }
  }
  &.widget-type-widget_container {
    > span {
      display: flex !important;
      flex-direction: column;
    }
  }
}

.justify-content-start {
  justify-content: flex-start !important;

  > .row-fluid-wrapper {
    > .row-fluid {
      justify-content: flex-start !important;
    }
  }
  &.widget-type-widget_container {
    > span {
      justify-content: flex-start !important;
    }
  }
}

.nowrap {
  flex-wrap: nowrap !important;

  > .row-fluid-wrapper {
    > .row-fluid {
      flex-wrap: nowrap !important;
    }
  }
  &.widget-type-widget_container {
    > span {
      flex-wrap: nowrap !important;
    }
  }
}

.justify-content-end {
  justify-content: flex-end !important;

  > .row-fluid-wrapper {
    > .row-fluid {
      justify-content: flex-end !important;
    }
  }
  &.widget-type-widget_container {
    > span {
      justify-content: flex-end !important;
    }
  }
}

.justify-content-center {
  justify-content: center !important;

  > .row-fluid-wrapper {
    > .row-fluid {
      justify-content: center !important;
    }
  }
  &.widget-type-widget_container {
    > span {
      justify-content: center !important;
    }
  }
}

.justify-content-between {
  justify-content: space-between !important;

  > .row-fluid-wrapper {
    > .row-fluid {
      justify-content: space-between !important;
    }
  }
  &.widget-type-widget_container {
    > span {
      justify-content: space-between !important;
    }
  }
}

.justify-content-around {
  justify-content: space-around !important;

  > .row-fluid-wrapper {
    > .row-fluid {
      justify-content: space-around !important;
    }
  }
  &.widget-type-widget_container {
    > span {
      justify-content: space-around !important;
    }
  }
}

.align-items-start {
  align-items: flex-start !important;

  > .row-fluid-wrapper {
    > .row-fluid {
      align-items: flex-start !important;
    }
  }
  &.widget-type-widget_container {
    > span {
      align-items: flex-start !important;
    }
  }
}

.align-items-end {
  align-items: flex-end !important;

  > .row-fluid-wrapper {
    > .row-fluid {
      align-items: flex-end !important;
    }
  }
  &.widget-type-widget_container {
    > span {
      align-items: flex-end !important;
    }
  }
}

.align-items-center {
  align-items: center !important;

  > .row-fluid-wrapper {
    > .row-fluid {
      align-items: center !important;
    }
  }
  &.widget-type-widget_container {
    > span {
      align-items: center !important;
    }
  }
}

.align-items-baseline {
  align-items: baseline !important;

  > .row-fluid-wrapper {
    > .row-fluid {
      align-items: baseline !important;
    }
  }
  &.widget-type-widget_container {
    > span {
      align-items: baseline !important;
    }
  }
}

.align-items-stretch {
  align-items: stretch !important;

  > .row-fluid-wrapper {
    > .row-fluid {
      align-items: stretch !important;
    }
  }
  &.widget-type-widget_container {
    > span {
      align-items: stretch !important;
    }
  }
}

.align-content-start {
  align-content: flex-start !important;

  > .row-fluid-wrapper {
    > .row-fluid {
      align-content: flex-start !important;
    }
  }
  &.widget-type-widget_container {
    > span {
      align-content: flex-start !important;
    }
  }
}

.align-content-end {
  align-content: flex-end !important;

  > .row-fluid-wrapper {
    > .row-fluid {
      align-content: flex-end !important;
    }
  }
  &.widget-type-widget_container {
    > span {
      align-content: flex-end !important;
    }
  }
}

.align-content-center {
  align-content: center !important;

  > .row-fluid-wrapper {
    > .row-fluid {
      align-content: center !important;
    }
  }
  &.widget-type-widget_container {
    > span {
      align-content: center !important;
    }
  }
}

.align-content-between {
  align-content: space-between !important;

  > .row-fluid-wrapper {
    > .row-fluid {
      align-content: space-between !important;
    }
  }
  &.widget-type-widget_container {
    > span {
      align-content: space-between !important;
    }
  }
}

.align-content-around {
  align-content: space-around !important;

  > .row-fluid-wrapper {
    > .row-fluid {
      align-content: space-around !important;
    }
  }
  &.widget-type-widget_container {
    > span {
      align-content: space-around !important;
    }
  }
}

.align-content-stretch {
  align-content: stretch !important;

  > .row-fluid-wrapper {
    > .row-fluid {
      align-content: stretch !important;
    }
  }
  &.widget-type-widget_container {
    > span {
      align-content: stretch !important;
    }
  }
}

.align-self-auto {
  align-self: auto;
}

.align-self-start {
  align-self: flex-start;
}

.align-self-end {
  align-self: flex-end;
}

.align-self-center {
  align-self: center;
}

.align-self-baseline {
  align-self: baseline;
}

.align-self-stretch {
  align-self: stretch;
}