.sample-module {
  display: flex;
  justify-content: flex-end;
  font-size: rem($h1FontSize);
  font-size: rem(22);
  font-size: #{$h1FontSize - 2}px;
  font-size: #{$globalFontSize}px;
  color: $primaryColor;
  background-color: hubl_rgba($primaryColor, 0.2);
}
